<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Expense Tracker</title>
</head>
<body>
    <form id="form" onsubmit="signup(event)">
        <label for ="name">Enter Name:</label>
        <input name="name" type="text" id="name" autocomplete="name">
        <label for ="email">Enter Email:</label>
        <input name="email" type="text" id="email" autocomplete="email">
        <label for ="password">Enter Password:</label>
        <input name="password" type="password" id="password" autocomplete="off">
        <input class= "submit" type="submit" id="btn" value="submit" >
    </form>
    <a href='./login.html'>Existing User- Login</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>

    <script src="./signup.js"></script>

    </body>
    </html>